body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
}

form > a > img {
    width: 23px;
}

.search > form {
    display: flex;
}

header {
    background-color: rgb(140, 140, 140);
    height: 133px;
    text-align: left;
}

.header-content {
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: flex-end;
}

.english-site {
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
}

.english-site > a {
    color: white;
    text-decoration: none;

}

.english-site > a:hover {
    color: #005CA0;
}

.search > form > input {
    background: url(search_input.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
}

.search > form > button {
    width: fit-content;
    background: none;
    border: none;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: fit-content;
}

nav > ul > li:hover > a , nav > ul > li.dropdown > ul.dropdown-list > li:hover > a {
    color: #005CA0;
    text-decoration: underline;
} 

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > li.dropdown {
    position: relative;
}

nav > ul > li.dropdown > ul.dropdown-list {
    display: none;
    position: absolute;
    list-style-type: none;
    z-index: 1;
}

nav > ul > li.dropdown:hover > ul.dropdown-list {
    display: block;
}

nav > ul > li > img{
    padding: 10px;
}

nav > ul > li.dropdown > ul.dropdown-list {
    text-align: right;
    background-color: rgb(140, 140, 140);
    padding: 0;
    width: max-content;
}

nav > ul > li.dropdown > ul.dropdown-list > li {
    background-image: url("menu_dropdown_sep.png");
    background-repeat: repeat-x;
    padding: 5px 0 5px 0;
}

nav > ul > li.dropdown > ul.dropdown-list > li > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

nav > ul > li.dropdown > ul.dropdown-list > li:hover {
    background-color: rgb(183, 183, 183);
}

.frst-row , .scnd-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.column {
    width: fit-content;
    padding: 10px;
}

.frst-row > .column > img {
    border-radius: 0 0 20px 0;
}

.frst-row > .column {
    position: relative;
}

.frst-row > .column > .text-erea {
    position: absolute;
    bottom: 20px;
    left: 35px;
    background: url("hp_tab_text_bg.png");
    background-repeat: no-repeat;
    background-size: 260px;
    font-weight: bold;
    color: white;
    font-size: 10px;
    padding: 0 15px 10px 10px;
    width: 80%;
}

.frst-row > .column > .text-erea > h4 {
    margin-top: 10px;
}

.frst-row > .column > .text-erea > .read-more {
    text-align: left;
}

.frst-row > .column > .text-erea > .read-more > a {
    color: white;
}

.frst-row > .column > .text-erea > .read-more > a:hover {
    color: #005CA0;
}

.frst-row > .column > .text-erea > .read-more > #blue-img {
    display: none;
}

.frst-row > .column > .text-erea > .read-more > a:hover ~ #blue-img {
    display: initial;
}

.frst-row > .column > .text-erea > .read-more > a:hover ~ #white-img{
    display: none;
}

 /*
.frst-row > .column > .text-erea {
    position: relative;
}

.frst-row > .column > .text-erea > .text-input {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.frst-row > .column > .text-erea > .text-input >{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
*/